[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel.git
[submodule "site/plugins/field-multiselect"]
	path = site/plugins/field-multiselect
	url = https://github.com/distantnative/field-multiselect.git
[submodule "plugins/shopkit/fields/selector"]
	path = plugins/shopkit/fields/selector
	url = https://github.com/storypioneers/kirby-selector.git
[submodule "plugins/shopkit/fields/place"]
	path = plugins/shopkit/fields/place
	url = https://github.com/AugustMiller/kirby-place-field.git
[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "plugins/shopkit/fields/color"]
	path = plugins/shopkit/fields/color
	url = https://github.com/samnabi/Kirby-Color-Picker.git
[submodule "plugins/shopkit/fields/tabs"]
	path = plugins/shopkit/fields/tabs
	url = https://github.com/afbora/Kirby-Tabs-Field.git
[submodule "plugins/shopkit/fields/markdown"]
	path = plugins/shopkit/fields/markdown
	url = https://github.com/JonasDoebertin/kirby-visual-markdown.git
[submodule "site/plugins/field-bidi"]
	path = site/plugins/field-bidi
	url = https://github.com/samnabi/field-bidi.git
