.DS_Store
/site/accounts/*
!/site/accounts/.gitkeep
/assets/avatars/*
!/assets/avatars/.gitkeep
/assets/psd/*
/thumbs/*
!/thumbs/.gitkeep
/content/1-shop/*
!/content/1-shop/cart
!/content/1-shop/countries
/content/1-shop/orders/*
!/content/1-shop/orders
!/content/1-shop/orders/orders.en.txt
!/content/1-shop/shop.en.txt
/content/4-docs
/site/cache/*
!/site/cache/.gitkeep