.DS_Store
/site/accounts/*
!/site/accounts/.gitkeep
/assets/avatars/*
!/assets/avatars/.gitkeep
/thumbs/*
!/thumbs/.gitkeep
/content/3-shop/*
!/content/3-shop/cart
!/content/3-shop/countries
!/content/3-shop/orders
!/content/3-shop/shop.txt
/content/4-docs