// Colours
$blue:  #0074D9;
$green: #249e32;
$red:   #85144b;

// Shades
$white: #FFFFFF;
$cloud: #F2F2F2;
$slate: #7B7F7C;
$black: #000000;

// Import partials
@import 'fonts';
@import 'normalize';
@import 'foundation';

// Typography
h1, h2 {
	font-weight: bold;
}

// Base elements
figure {
	margin: 1rem 0;
}

//	Structure
body {
	background: $cloud;
}

.buffer {
	padding-top: 1.25rem;
}

main {
	background: white;
	padding: 1.25rem;
}

//	Logo
.logo {
	margin-bottom: 1.25rem;

	main & {
		margin-top: 1.25rem;
	}
}

//	Footer
footer {
	text-align: center;
	padding-top: 1.25rem;

	h3 {
		font-size: 1.25rem;
	}

	dt, dd {
		display: inline-block;
		margin-bottom: 0;
	}

	dd {
		&:after {
			display: inline-block;
			margin: 0 0.5rem;
			content: '/';
		}
		&:last-child:after {
			display: none;
		}
	}
}

//	Panels
.panel {
	background: transparent;
	border: none;
	border-top: 1px solid rgba($black,0.2);
}
.panel .button,
.panel input[type="submit"] {
	margin-bottom: 0;
}

// Alert boxes
.alert-box {
	margin-bottom: 0;
	p {
		margin-bottom: 0;
		font-size: 0.8rem;
		a {
			color: white;
			text-decoration: underline;
		}
	}
}

// Forms
form .help {
	margin-top: -1em;
	font-size: 0.8em;
	color: $slate;
	font-style: italic;
}

#login .register {
	text-align: right;
	color: $slate;
	font-size: 0.875rem;
	line-height: 2.25;
	margin: 0;
}

//	Buttons
button,
.button,
input[type="submit"] {
	border-radius: 3px;
	box-shadow: inset 0 -2rem 2rem -1rem rgba($black,0.2);

	&:active {
		box-shadow: inset 0 2rem 2rem -1rem rgba($black,0.2);
	}
}

//	Menu 
.menu {
	background: $cloud;
	padding: 0 0 1rem;
	border-top: 1px solid $black;
	border-bottom: 0.3rem solid $black;
	padding-bottom: 0;
	font-size: 0;
	text-align: right;
	a:not(.button) {
		font-size: 1.25rem;
		display: inline-block;
		vertical-align: bottom;
		padding: 0.5rem 1rem;
		color: $black;

		&:hover,
		&:focus,
		&.active {
			background: rgba($black,0.1);
		}
	}
}

//	Subnav
.sub-nav {
	background: $black;
	border-bottom: 0.3rem solid $black;
	text-align: right;
	margin-bottom: 0;

	dd, dt {
		display: inline-block;
		float: none;
		margin: 0;
		a {
			display: inline-block;
			color: white;
			padding: 0.25rem 1rem;

			&:hover,
			&:focus {
				color: white;
				text-decoration: underline;
			}
		}
	}
	dt {
		float: left;
		color: rgba(white,0.66);
		padding: 0.25rem 1rem;
	}
}

//	Breadcrumbs

.breadcrumbs {
	background: inherit;
	border: none;
	margin: 0 0 1.25rem 0;
}

//	Sidebar
aside .panel {
	margin-bottom: 0;

	h1 {
		font-size: 1.25rem;
	}
}

//	Shop by category
.panel .side-nav {
	padding-bottom: 0;

	& > li > ul {
		padding-left: 1rem;

		& > li > a {
			padding-top: 0.2rem;
			padding-bottom: 0.2rem;
		}
	}
}

// Cart Status
.button.cartStatus {
	float: left;
	margin-top: 0.3rem;
	margin-bottom: 0;
	padding: 0.5rem 0.75rem 0.1rem 0.5rem;
}
.cartStatus > svg:first-child {
	fill: white;
	height: 2rem;
	vertical-align: middle;
	margin-top: -0.4rem;
	margin-bottom: 0;
}

//	Image gallery
.gallery {
	text-align: center;
	position: relative;
	padding-top: 305px;
	overflow-x: hidden;
	background: $black;

	input {
		display: none;

		&:checked + img {
			display: block;
		}
	}

	label {
		display: inline-block;
		vertical-align: top;
	}

	& > img {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

// Orders
table.orders {
	table,
	.button {
		margin-bottom: 0;
	}
}

// Listing
.listing {
	a {
		color: $black;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		&:hover,
		&:focus {
			color: $blue;
		}
		
		p {
			font-size: 0.8em;
			margin-bottom: 0.5rem;
		}

		.button {
			margin-bottom: 0;
		}
	}
}

// Product page
.tags {
	padding: 0;
	text-align: center;
	a {
		display: inline-block;
		padding: 0.5rem 1rem;
	}
}
.prices {
	margin-top: 1rem;
	
	li {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	span {
		color: $slate;
	}

	p {
		font-size: 0.875rem;
		margin: 0.25rem 0 0;
		font-style: italic;
	}

	button {
		margin-bottom: 0;
	}
}

// Search page
.search .result {
	padding: 0 0 1rem;

	strong {
		color: $black;
	}
}

// Cart page
.cart {
	td {
		.qty-up,
		.qty-down {
			text-align: center;
			display: inline-block;
			vertical-align: middle;
		}

		.qty {
			vertical-align: middle;
			padding: 0 0.5rem;
		}
		
		button {
			padding: 0.2rem 0.6rem 0.3rem;
			margin-bottom: 0;
		}
	}
	
	// Cell text alignment
	thead th:nth-child(2) { text-align: center; }
	thead th:nth-child(3) { text-align: right; }
	tbody td:nth-child(2) { text-align: center; }
	tbody td:nth-child(3) { text-align: right; }
	tfoot td:nth-child(1), tfoot td:nth-child(2) { text-align: right; }

	tfoot form,
	tfoot select {
		max-width: 10rem;
		margin: 0;
	}
}

.payPalSubmit {
	& > * {
		vertical-align: middle;
	}
	img {
		margin-left: 0.5rem;
	}
}