/* List of Subpages */
.sidebar-list .invisible {
	opacity: 0.3;
}
.sidebar-list .invisible:hover,
.sidebar-list .invisible:active {
	opacity: 1;
}

/* Dropzone for list of file */
.marginalia[href="#upload"] {
	padding: 1rem 1rem 1rem 4rem;
	position: relative;
	display: block;
	border: 2px dashed lightgrey;
	border-radius: 0.3em;
}
html[lang="en"] .marginalia[href="#upload"]:after {
	content: '. Drag & drop here to upload.';
}
.marginalia[href="#upload"]:before {
	position: absolute;
	display: block;
	left: 1rem;
	top: 50%;
	margin-top: -0.7rem;
	font-family: 'FontAwesome';
	font-size: 2rem;
	content: '\f0ee';
	color: #CCC;
}
.marginalia[href="#upload"]:hover:before,
.marginalia[href="#upload"]:focus:before {
	color: inherit;
}

/* Page save button */
.ltr .mainbar .form .buttons {
	border-top: 2px solid #ddd;
	background: #efefef;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* Login form */
body.login form.form::after {
	color: #999;
	content: 'Please log in with your username, not your email address. You may log in with your email address from the home page.';
}

body.login form.form .btn-submit {
	margin: 0 0 45px 0;
}

body.login form.form fieldset.buttons-centered {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

/* Selector */

.selector .input-with-items .item {
	display: inline-block;
	border-bottom: 0;
	margin: 0.4rem 0 0 0.4rem;
	padding-top: 0.4rem;
}
.selector .item-image {
	position: relative;
	width: 5rem;
	height: 5rem;
	margin: 0 auto;
}
.selector .item-options,
.selector .item-options .nav li,
.selector .item-options .nav li .btn {
	background: transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
}
.selector .item-options ul,
.selector .item-options li {
	border-left: none;
}
.selector .item-options li:first-child {
	display: none;
}
.selector .item-options .btn span {
	display: none;
}
.selector .item-options .btn i {
	left: 50%;
	margin-left: -2.3rem;
	top: 0.7rem;
	padding: 1px 2px;
	background: white;
	border-radius: 1rem;
}
.selector .item-options .btn i.fa-check-circle {
	color: #97A830;
}
body.ltr .selector .item-options,
body.ltr .selector .item-options li {
	border-left: 0;
}
body.ltr .selector .item-with-image .item-info {
	margin-left: 0;
}
.selector .item-info {
	margin: 0;
	height: auto;
	text-align: center;
}
.selector .item-info .fix {
	display: inline;
	position: relative;
}
.selector .item-title {
	font-weight: normal;
	font-size: 0.8rem;
}
.selector .item-info .marginalia {
	display: none;
}